.FarmList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 1%;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.FarmList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
